#buttons, #continueButton {
    display: none;
}
.active {
    background-color: yellow;
}
.success {
    background-color: green;
}
.failure {
    background-color: red;
}
#room {
    position: absolute;
    top: 0;
    right: 0;
}
