html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.active {
    background-color: yellow;
}
.success {
    background-color: green;
}
.failure {
    background-color: red;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;
}
#playerNameInput, #roomInput {
    outline: none;
    padding: 3px;
    text-align: center;
    font-family: inherit;
    margin: 10px auto;
    display: block;
}
#playerName h1 {
    margin: 0;
}
#playerName input[type=submit] {
    border: none;
    background: lightgray;
    padding: 6px 10px 7px;
    outline: none;
    cursor: pointer;
}
#playerName input[type=submit]:active {
    background-color: gray;
}
#answer {
    border: none;
    outline: none;
    cursor: pointer;
}
.btn {
    width: 300px;
    height: 300px;
}
.dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: purple;
    background-size: cover;
}
.square {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: purple;
    background-size: cover;
}
.bell {
    background: url('/css/bell.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
    color: transparent;
    background-color: transparent !important;
}
.screen {
    width: 100vw;
    height: 100vh;
    background: transparent !important;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#buttonContainer {
    display: none;
}

/*#answer:active {
    background: darkslateblue;
}*/
